<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>{{titulo}}</title>
        <link rel="shortcut icon" type="imagem/x-icon" href="../imagens/grandma.ico"/>
        <link rel="stylesheet" type="text/css" href="../static/css/estilo.css"> <!--Conectando com o CSS-->
    </head>
    <body>
        <a href="/"><button>voltar para a página principal</button></a><br>
        <form action="/ajuda.html" method="POST">
            <h2>Dúvidas/Ajuda</h2><br>
            <h3>inserir nova dúvida/ajuda:</h3><br>

            <label id="lAjudaDuvida" name="lAjudaDuvida">Dúvida/Pergunta: </label><br>
            <input type="text" id="tAjudaDuvida" name="tNovaAjudaDuvida" placeholder="Dúvida/Pergunta"/><br><br>

            <label id="lAjudaAjuda" name="lAjudaAjuda">Ajuda/Resposta: </label><br>
            <input type="text" id="tAjudaAjuda" name="tNovaAjudaAjuda" placeholder="Ajuda"/><br><br>

            <button type="submit">Cadastrar</button>
        </form>
        <label id="result" name="result"></label><br><br><br><br>

        <h3>visualizar dúvidas/respostas:</h3>

        <a href="ajudaConsulta.html"><button>Consultar</button></a><br><br>

        <h3>atualizar dados de ajuda/dúvida cadastrados</h3>
        
        <a href="ajudaAtualiza.html"><button>Atualizar</button></a><br><br>

        <h3>excluir dados de ajuda/dúvida cadastrados</h3>

        <a href="ajudaExclui.html"><button>Excluir</button></a><br><br>
    </body>
</html>