<!Doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>{{titulo}}</title>
        <link rel="shortcut icon" type="imagem/x-icon" href="../imagens/grandma.ico"/>
        <link rel="stylesheet" type="text/css" href="../static/css/estilo.css"> <!--Conectando com o CSS-->
    </head>
    <body>
        <form method="POST">            
            <div id="menu">
                <h2>bem vindo(a)!</h2>
                <h3>o que deseja fazer?</h3>
            </div>
            <div class="grid-menu">
                <div id="menu1"><h4 id="text1">cadastro do idoso</h4></div>
                <div id="menu2"><button class="botao1"><a id="botaotxt" href="cadastrar.html">cadastrar</button></a></div>
                
                <div id="menu3"><h4 id="text2">agenda</h4></div>
                <div id="menu4"><button class="botao2"><a id="botaotxt" href="agenda.html">agenda</button></a></div>
                
                <div id="menu5"><h4 id="text3">ajuda/dúvidas</h4></div>
                <div id="menu6"><button class="botao3"><a id="botaotxt" href="ajuda.html">ajuda</button></a></div>
                
                <div id="menu7"><h4 id="text4">altura do idoso</h4></div>
                <div id="menu8"><button class="botao4"><a id="botaotxt" href="altura.html">altura</button></a></div>
                
                <div id="menu9"><h4 id="text5">diabetes do idoso</h4></div>
                <div id="menu10"><button class="botao5"><a id="botaotxt" href="diabetes.html">diabetes</button></a></div>
                
                <div id="menu11"><h4 id="text6">dieta do idoso</h4></div>
                <div id="menu12"><button class="botao6"><a id="botaotxt" href="dieta.html">dieta</button></a></div>
                
                <div id="menu13"><h4 id="text7">peso do idoso</h4></div>
                <div id="menu14"><button class="botao7"><a id="botaotxt" href="peso.html">peso</button></a></div>
                
                <div id="menu15"><h4 id="text8">pressão do idoso</h4></div>
                <div id="menu16"><button class="botao8"><a id="botaotxt" href="pressao.html">pressão</button></a></div>
            </div>                
        </form>
    </body>
</html>

