<!Doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>{{titulo}}</title>
        <link rel="shortcut icon" type="imagem/x-icon" href="../imagens/grandma.ico"/>
        <link rel="stylesheet" type="text/css" href="../static/css/estilo.css"> <!--Conectando com o CSS-->
    </head>
    <body>
        <a href="/"><button>voltar para a página principal</button></a><br>
        <form action="/pressaoConsulta.html" method="GET">
            <h2>Consultar dado: Pressão</h2><br>
            <textArea readonly>{{dados}}</textArea>
        </form>
    </body>
</html>

